// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card {
  border: none;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
  background-color: #fff;
  border-radius: 4px;
}

.card-body {
  padding: 30px;
}

.time-list {
  padding: 0;
  list-style-type: none;
}

.time-list > li {
  text-indent: -5px;
}

.time-list > li:before {
  content: "-";
  font-weight: 700;
  margin-right: 10px;
}

strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.3);
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}